<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT WITH PASSENGER/DRIVER</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/chatbox.css')}}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <style>
       
    </style>
</head>
<body>
<div id="flex-container">
    <header>
       
        <div id="landing">
            <h3>Hey {{firstname}} !!!</h3>
                <button id="join-btn">START CHATTING?</button>
        </div>

    </header>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash_messages">
            <li class="alert">{{ messages[0] }}</li>
        </ul>
        {% endif %}
        {% endwith %}
    </div>
        <div id="home">
            <a href="/dashboard"><button id="home-btn">LEAVE TO HOME PAGE</button></a> 
        </div>
     
        <div id="chat" style="display:none;">
            <ul id="chat-messages">
            {% for message in messages %}
            <li><b>{{message.created_at}}:&nbsp;{{message.sender}}:&nbsp;</b>{{message.text}}</li>
            {% endfor %}
        </ul>
        <input type="text" id="message" placeholder="Enter a Message">
        <h3>CHAT ROOM(combined name of driver and passenger): {{room}}</h3>
    </div>
  
</div>

<script>
    const socket = io({autoConnect: false});
    let userType = '{{room}}';
    let username = '{{firstname}}';
    document.getElementById('join-btn').addEventListener("click", function() {
        
        socket.connect();
        
        socket.on("connect", function() {
            socket.emit("user_join", {"username": username});
        })
        document.getElementById("chat").style.display = "block";
        document.getElementById("landing").style.display = "none";
    })
        document.getElementById("message").addEventListener("keyup", function (event){
            if (event.key == "Enter") {
                let message = document.getElementById("message").value;
                socket.emit("new_message", {"message": message, "username": username, "usertype":userType });
                /*if i as a passenger or driver emit a message i expect that only my driver or 
                passenger should listen*/
                document.getElementById("message").value = "";
            }
        })

        socket.on("chat", function(data) {
            console.log("I can listen to chats now")
            let ul = document.getElementById("chat-messages");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(data["timestamp"] + ":" + data["username"] + ": " + data["message"]));
            ul.appendChild(li);
            ul.scrollTop = ul.scrollHeight;
            console.log('this is the message', data["message"]);
        })
</script>
</body>
</html>
