<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container mt-5">
    <div class=".form-group">
        <h1>WELCOME</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="alert">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div id = "username" class=".form-group">
        <h3>Hi 
        {% if current_user.is_authenticated %}
            {{current_user.firstname}}
        {% else %}
            Guest!!!
        {% endif %}
        </h3>
    </div >
    <div id="map" class=".form-group"></div>
    <div class=".form-group">
        <form id="form" method="POST" action="/map" style="display:none;">
            
            <div id="destinationForm">
                <label for="destination">Choose a destination:</label>
                <input type="text" id="selected_destination" name="selected_destination" placeholder="Search for a destination" required/>
            </div>
    
            <div id="rideForm">
                <label for="ride">Ride options: </label>
                <select id="selected_ride" name="selected_ride">
                <option value="Classic">Classic</option>
                </select>
            </div>
            <div id="fareForm">
            <label for="fare">Estimated Fare: </label>
            <input type="text" id="estimated_fare" name="estimated_fare" placeholder="calculated amount ..." required/>
            </div>
            <button id="chat_now" type="submit">Click to Save</button>
        </form>
    </div>
    <div class=".form-group">
    <!--if a driver, we will hide the entire form to fill in destination from them-->
        <button id="start_chat">Start Chat</button>
        <button id="destination">Book Ride Now</button>
        <button id="start_map">Go to Map</button>
        {% if not current_user.is_authenticated %}
        <a href="/login"><button>Login</button></a>

        {% elif current_user.is_authenticated %}
        <a href="/logout"><button>Logout</button></a>
        {% else %}
        {% endif %}
        
        <button id="receive_ride">Get Ride Request!</button>
    </div>
    <div id="chat_box" style="display:none;" class=".form-group">
    <form method="POST" action="/chat">
        <div>
        <label for="">Enter your prefered Username: </label>
        <input type="text" name="firstname">
        </div>
        <br>
        <button type="submit">Chat Now!!!</button>
    </form>
    </div>
<script>
    // Create a single Socket.IO connection
    const socket = io({autoConnect: false});
        

    // function to handle the 'Book Ride Now' button click
    document.getElementById('destination').addEventListener('click', () => {
    const form = document.getElementById('form')
    form.style.display = form.style.display === 'block' ? 'none': 'block';
    });

    // function to handle the 'start_chat' button click event
    function handleStartChatClick() {
    const chat = document.getElementById('chat_box');
    chat.style.display = chat.style.display === 'block' ? 'none' : 'block';
    }

    // function to handle 'start_map' button click even
    function handleStartMapClick() {
        window.location.href = "http://127.0.0.1:5000/map";
    }
    
    function handleReceiveRide() {
        alert("You can now receive ride requests from passengers")
        let driveName = '{{current_user.firstname}}'
        console.log('we are emitting ready_for_ride_requests now')
        socket.emit("ready_for_ride_requests", {"driver_name": driveName})
        // set up event for 'ride_booked' event
        socket.once("ride_booked", (data) => {
            console.log("I, the driver can see the ride booked");
            destination = data["selected_destination"];
            passenger_name = data["passenger_name"];
            driver_name = data["driver_name"];

            console.log(data);
            res = confirm("Do you accept the ride from your passenger: " + passenger_name + " to "+ destination + "?")
            if (res) {
                socket.emit('ride_accepted', {'response': "I am on my way...", 
                                            "driver_name": driver_name, 
                                            "passenger_name": passenger_name})
                alert("Ride Booked")
            }
            else {
                //let user1 = '{{current_user.firstname}}'
                alert('ride canceled, checking for other drivers')
                socket.emit('ride_rejected', {"driver_name": driveName})
            }
        });
    }
    document.getElementById('start_chat').addEventListener('click', handleStartChatClick);
    document.getElementById('start_map').addEventListener('click', handleStartMapClick);
    document.getElementById('form').addEventListener('submit', submitForm);

    // function to keep track of location
    function keep_track_location() {
        console.log("keep track is running")
        let username = '{{current_user.firstname}}'
        if (!username) {
            username = 'Guest'
        }
        let created_by = username 

        // emit the posiiton_location event 
        socket.emit("position_location", {
                "latitude": 4.436256106310639,
                "longitude": 7.723190279359194,
                "created_by": created_by
                });
    
        //This is the navigator.geolocation section 
            /*
                navigator.geolocation.watchPosition(
                function (position) {
                // Handle success and use the location data
                const { latitude, longitude } = position.coords;
                console.log("this is the current location, enjoy", latitude);
                console.log('this is your destination', selected_destination);
                console.log('let us begin now !!!');
                socket.emit("position_location", { 
                        "latitude": latitude,
                        "longitude": longitude,
                        "created_by": created_by});
                    console.log("emitting event for position_location");
                });
                
                },
                function (error) {
                // Handle error, including permission denied
                if (error.code === error.PERMISSION_DENIED) {
                    console.log("User denied the request for geolocation.");
                    alert("You denied the request for geolocation. Please Book a ride again and click the button to grant permission.");
                } else {
                    console.error("Error getting geolocation:", error.message);
                    // Handling other error cases
                }});
            }
            */
    }

    // Connect the socket.io client
    socket.connect();
        //emit the event update_home_page when connected 
    socket.on("connect", function() {
        socket.emit("update_home_page");

        //listen to userType event
        socket.on("userType", (data) => {
            const userType = data["userTypes"]
            console.log("checking for userType: ", userType);
            if (userType === "driver") {
                document.getElementById('destination').style.display = 'none';
                document.getElementById('receive_ride').addEventListener('click', handleReceiveRide);
            }
            else if(userType === 'passenger') {
                document.getElementById('receive_ride').style.display = 'none';
            }
            //document.getElementById('receive_ride').addEventListener('click', handleReceiveRide);
                
            // listening to event 'driver_response'
            console.log("We have a passenger here")
            socket.once("driver_response", (data) => {
                console.log("passenger listening to driver response")
                const driver_name = data['driver_name']
                alert("Driver "+ driver_name + ": I am on my way");
                });
            });
                
        });
        
        // function to emit new ride event
    function emitNewRide(selected_destination) {
        let username = '{{current_user.firstname}}'
            if (!username) {
                username = 'Guest'
            }
        let created_by = username    
        // emit new ride event section
        /* 
            we are applying randome values for the latitude and longitude, 
            to obtain real time location value, uncomment the navigator.geolocation section below and
            comment out this section. Thanks 
        */
        socket.emit("new_ride", {
        "selected_destination": selected_destination,
        "latitude": 4.436256106310639,
        "longitude": 7.723190279359194,
        "created_by": created_by
        });
         //This is the navigator.geolocation section 
            /*
                navigator.geolocation.getCurrentPosition(
                function (position) {
                // Handle success and use the location data
                const { latitude, longitude } = position.coords;
                console.log("this is the current location, enjoy", latitude);
                console.log('this is your destination', selected_destination);
                console.log('let us begin now !!!');
                socket.emit("new_ride", {"selected_destination": selected_destination, 
                        "latitude": latitude,
                        "longitude": longitude,
                        "created_by": created_by});
                    console.log("yes we did");
                });
                
                },
                function (error) {
                // Handle error, including permission denied
                if (error.code === error.PERMISSION_DENIED) {
                    console.log("User denied the request for geolocation.");
                    alert("You denied the request for geolocation. Please Book a ride again and click the button to grant permission.");
                } else {
                    console.error("Error getting geolocation:", error.message);
                    // Handling other error cases
                }});
            }
            */
    }
    // function to handle the form for destination information
    function submitForm(event) {
        event.preventDefault();
        let selected_destination=document.getElementById("selected_destination").value;
        emitNewRide(selected_destination);
        alert("Submission Succeful, you can proceed to book ride or map");
        document.getElementById('start_map').addEventListener('click', () => {
        window.location.href = "http://127.0.0.1:5000/map";
        });
    }


    keep_track_location()
    form.addEventListener('submit', submitForm);
</script>
</div>
</body>
</html>