<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Routes</title>
    <!--<link rel="stylesheet" href="../styles/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/map.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <style>
    
    </style>
    
</head>
<body style="border:0;margin:0">
    <div id="map"></div>
    <div class="formBlock"> 
        <a href="/dashboard"><p>Go to dashboard</p></a>

        <form id="form">
            <input type="text" name="start" class="input" id="start" placeholder="Choose another starting point" />
            <input type="text" name="end" class="input" id="destination" placeholder="Choose another destination" />
            <button type="submit" style="display: none;">Get Directions</button>
        </form>
    </div>
    <div>
        <h1>Latitude: {{latitude}}</h1>
        <h1>Longitude: {{longitude}}</h1>
        <h1>Destination: {{destination}}</h1>
    </div>
    <div id="myData" data-var1="{{ start }}" data-var2="{{ destination }}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=69W0v3cryWg1g6P4wlnkUXChEjEM3Tvk"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=69W0v3cryWg1g6P4wlnkUXChEjEM3Tvk"></script>
<script src="../static/scripts/app.js"></script>
</body>
</html>